@model RoleViewMode
@{
}
<form asp-action="SaveRole" asp-controller="Role" method="post">

    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="RoleName"></label>
        <input asp-for="RoleName" class="form-control" />
   <span asp-validation-for="RoleName"></span>
    </div>

<button type="submit" class="btn btn-success m-2">Save Role</button>
</form>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib//jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
